/*
 * This function, if present, will be used in RESTclient.js.
 * The default will be the production URL, but a local URL
 * can be set here to override that for development work.
 /*
export function baseURL() {
    return 'http://localhost:5000/api'
}
